<div class="upPanel">
  <div class="left">
    <div class="fieldsArea">
      <div>
        <md-form-field class="example-full-width">
          <input mdInput placeholder="Task Id" aria-label="Task Id" [mdAutocomplete]="auto" [formControl]="taskCtrl">
          <md-autocomplete #auto="mdAutocomplete">
            <md-option *ngFor="let task of filteredYoutubeTasks | async" [value]="task.taskId">
              <span>{{ task.taskId }}</span>
            </md-option>
          </md-autocomplete>
        </md-form-field>

        <button md-raised-button color="primary" (click)="apply()">Apply</button>
        <button md-fab disabled="{{!isReadyToStart}}" (click)="start()">Start</button>
      </div>
      <div>
        <md-input-container class="fieldsArea120Width">
          <input mdInput placeholder="Count Video" value="" [ngModel]="countVideo">
        </md-input-container>
        <md-input-container class="fieldsArea120Width">
          <input mdInput placeholder="Count Reklama" value="" [ngModel]="countReklama">
        </md-input-container>
        <md-input-container class="fieldsArea120Width">
          <input mdInput placeholder="Count Move" value="" [ngModel]="countMove">
        </md-input-container>
        <md-input-container class="fieldsArea100Width">
          <input mdInput placeholder="Video freeze" value="" [ngModel]="videoFreeze">
        </md-input-container>
        <md-input-container class="fieldsArea120Width">
          <input mdInput placeholder="Reklama freeze" value="" [ngModel]="reklamaFreeze">
        </md-input-container>
      </div>

      <div class="button-row">


        <button md-raised-button color="primary" (click)="clear()">Clear</button>
        <button md-raised-button color="primary" (click)="testJms()">Test JMS</button>
        <button md-raised-button color="warn" (click)="openGclidPage()">Open GCLID page</button>
        <md-button-toggle (click)="doChangeVideoSource($event)" [checked]="toggleVideoSource">{{toggleVideoText}}
        </md-button-toggle>
        <!--<button md-raised-button (click)="startMusic()">Start music</button>-->
        <button md-raised-button (click)="stopMusic()">Stop music</button>
      </div>
    </div>
    <div class="toggleArea">
      <mat-slide-toggle
        class="example-margin"
        [checked]="autoCloseAdvertiseFlag"
        (change)="autoCloseAdvertise($event)">
        Auto close advertise
      </mat-slide-toggle>
    </div>
  </div>
  <div class="right">
    <div class="rightPanel">
      <youtube-player
        [videoId]="localVideoId"
        (ready)="savePlayer($event)"
        (change)="onStateChange($event)"
      ></youtube-player>
    </div>
  </div>
</div>
<div class="downPanel">
  <div class="left">
    <div class="resultLeftArea">
      <p [innerHTML]="startHtmlString" class="resultLeftAreaParagraph"></p>
    </div>
    <div class="resultRightArea">
      <p #finishHtml [innerHTML]="finishHtmlString" class="resultRightAreaParagraph"></p>
    </div>
  </div>
  <div class="right">
    <div class="gClidContainer">
      <p #descriptioHtml [innerHTML]="descriptionContainerString" class="resultRightAreaParagraph"></p>
    </div>
  </div>
</div>
